.mc-input,
.mc-textarea {
  --input-border-color: rgb(203 213 225/1);

  &--default {
    --input-height: 34px;
  }

  &--large {
    --input-height: 42px;
  }

  &--small {
    --input-height: 28px;
  }

  & {
    --input-bg-color: var(--mc-color-white);
  }

  &.is-disabled {
    --input-bg-color: var(--mc-color-gray-1);
  }
}