@import "./var.less";

.mc-button {
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  color: white;
  letter-spacing: 0.15rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: var(--button-color);
  border: 1px solid var(--button-color-border);
  font-size: var(--button-font-size);
  background-color: var(--button-background);
  padding: var(--button-padding-y) var(--button-padding-x);
  //鼠标悬浮效果
  &:hover {
    background-color: var(--button-color-hover);
  }
  //朴素按钮
  &.is-plain {
    background-color: transparent;
    border: 1px solid var(--button-color-border);
    color: var(--button-color);
  }
  //朴素按钮悬浮
  &.is-plain:hover {
    color: var(--mc-color-white);
    background-color: var(--button-color);
  }
  &.is-disabled {
    background-color: var(--button-background-disabled);
    border-color: var(--button-background-disabled);
    cursor: no-drop;
  }
  &.is-round {
    border-radius: 30px;
  }
  & + .mc-button {
    margin-left: 10px;
  }
}
