.mc-button {
  &--large {
    --button-padding-x: 18px;
    --button-padding-y: 10px;
    --button-font-size: 1rem;
  }

  &--default {
    --button-padding-x: 16px;
    --button-padding-y: 8px;
    --button-font-size: 0.9rem;
  }

  &--small {
    --button-padding-x: 14px;
    --button-padding-y: 6px;
    --button-font-size: 0.8rem;
  }

  &--default {
    --button-color: var(--mc-color-gray-5);
    --button-background: var(--mc-color-gray-9);
    --button-color-hover: var(--mc-color-gray-7);
    --button-color-active: var(--mc-color-white);
    --button-color-border: var(--mc-color-gray-9);
  }

  &--primary {
    --button-color: var(--mc-color-white);
    --button-background: var(--mc-color-theme-blue);
    --button-color-hover: var(--mc-color-theme-blue-light-3);
    --button-color-active: var(--mc-color-theme-blue);
    --button-color-border: var(--mc-color-theme-blue);
  }

  &--danger {
    --button-color: var(--mc-color-white);
    --button-background: var(--mc-color-theme-red);
    --button-color-hover: var(--mc-color-theme-red-light-3);
    --button-color-active: var(--mc-color-theme-red);
    --button-color-border: var(--mc-color-theme-red);
  }

  &--success {
    --button-color: var(--mc-color-white);
    --button-background: var(--mc-color-theme-green);
    --button-color-hover: var(--mc-color-theme-green-light-3);
    --button-color-active: var(--mc-color-theme-green);
    --button-color-border: var(--mc-color-theme-green);
  }
}
