@import "./menu-item/index.less";

.mc-menu {
  color: var(--mc-color-main);
  background: var(--mc-color-white);
  display: flex;

  &.mc-menu--vertical {
    position: relative;
    padding: 0 4px;
    align-items: center;
    height: 60px;
  }

  &.mc-menu--horizontal {
    width: 180px;
    min-height: 400px;
    flex-direction: column;
    padding: 4px 0;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}